@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chabanenko Max SunRose Test case</h1>
    <p>Створити ASP.Net MVC додаток з однією сторінкою, яка містить
поле введення тексту (textbox) для повідомлення та кнопку. Після
натискання кнопки повідомлення відправляється та зберігається на
сервері (збереження повідомлень повинно працювати автономно,
без використання бази даних на сервері). Реалізувати можливість
перегляду повідомлень поточного користувача та всіх користувачів
системи. Сторінку виведення всіх повідомлень користувачів зробити
з сортуванням повідомлень за ID або за часом. На сервері
зберігаються 10 останніх повідомлень (за замовчуванням) для
кожного користувача і 20 останніх повідомлень (за замовчуванням)
для всіх користувачів. Кожному користувачу має бути присвоєний ID
- або автоматично, або вручну. Бажана наявність хоча б
мінімального дизайну та використання технологій AJAX.
 <p>Розмістити на безкоштовному хостингу.
 <p>Чек-лист виконаної роботи:
 <p>1. Посилання на розміщений сайт надано.
 <p>2. Вихідний код наданий для перевірки.
 <p>Скільки часу вам потрібно на виконання?
</div>
